* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	max-width: 1920px;
	margin: 0 auto;
    /* background-color: #030309; */
}

html,
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

h1, h2 ,h3 ,h4 , h6 , p {
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 0;
}

.site-logo {
    padding-top: 93px;
}

.main-header-wrap h1 {
    color: #FFFFFF;
    font-family: 'Bebas Neue', cursive;
    font-size: 58px;
    line-height: 70px;
    max-width: 435px;
    padding-top: 114px;
    padding-bottom: 18px;
    filter: drop-shadow(0px 6px 12px #dc9827);}

.main-section-wrapper, .header-section, .venue-details-section, .header-details-section {
    background-color: #030309;

}

.header-details-section  {
    padding-bottom: 100px;
}

.main-header-wrap p {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 29px;
    max-width: 468px;
}

.main-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.main-wrapper img.wave-img {
    position: absolute;
    left: 123px;
    top: 6px;
}

.main-header-wrap {
    z-index: 1;
}

.main-banner img.banner-2 {
    position: absolute;
    top: -188px;
    right: 0;
}

.main-section-wrapper {
    padding-top: 215px;
}

.card-wrapper-section {
    display: flex;
    align-items: center;
    padding-bottom: 315px;
    position: relative;
}

.details-wrapper img.card-1-img {
    width: 550px;
}

.details-wrapper-1 img.card-2-img {
    width: 530px;
}

.card-info {
    background-color: #fff;
    width: 745px;
    padding: 29px 49px 47px 46px;

}

.card-details-wrapper_1 {
    z-index: 1;
}

.card-details-wrapper {
    position: absolute;
    right: 0;
}

.details-wrapper-1 {
    position: absolute;
    right: 0;
}


.card-details-wrapper h2.right-title {
    text-align: right;
    padding-right: 50px;
}

.card_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_body {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 14px;
}

.card-details-wrapper h2 {
    color: #FFFFFF;
    font-size: 26px;
    line-height: 31px;
    font-weight: 600;
    padding-bottom: 21px;
    padding-left: 112px;
    text-transform: uppercase;
}

.card-details-wrapper_1 h2 {
    color: #FFFFFF;
    font-size: 26px;
    line-height: 31px;
    font-weight: 600;
    padding-bottom: 21px;
    padding-right: 112px;
    text-align: right;
    text-transform: uppercase;
}

.card_title h3 {
        color: #030309;
        font-size: 32px;
        line-height: 38px;
        font-weight: 600;
        padding-bottom: 5px;
}

.card_title p {
    color: #7C7C7C;
    font-size: 16px;
    line-height: 27px;
}

.card_header button {
    background-color: #000000;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    border: none;
    font-weight: 600;
    padding: 12px;
}

.card_body p {
    color: #000000;
    font-size: 19px;
    line-height: 29px;
    max-width: 289px;
    padding-bottom: 21px;
}

.card_body button {
    background-image: linear-gradient( 133.71deg  , #FF0093 0%, #FD5529 100%);
    border-radius: 8px;
    width: 329px;
    height: 71px;
    border: none;
    font-size: 20px;
    line-height: 24px;
}

.card_body a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;

}


.footer-section {
    background-color: #111010;
    padding-top: 70px;
}

.footer-gallary {
    display: flex;
    column-gap: 16px;
}

.footer-section .gallary-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 84px;
    border-bottom:1px solid #323030;
}

.footer-gallary img {
    width: 300px;
}

.gallary-wrapper .follow-btn {
    border: 1px solid #DD2A7B;
    border-radius: 8px;
    background-color: #111010;
    padding: 14px 12px;
    padding: 14px 12px;
    display: flex;
    align-items: center;
    column-gap: 9px;

}

.gallary-wrapper .follow-btn a {
    text-decoration: none;
    color: #DD2A7B;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
}

.copyright p {
    color: #7C7C7C;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    padding: 25px 0;
}

/*********** Details-Page ********/
.details-inner-section {
    background: url('../public/static/images/details-img.svg');
    background-size: cover;
    background-repeat: no-repeat;
    padding:27px 68px 54px 103px ;
    margin-top: 67px;
}

.home-page {
    display: flex;
    align-items: center;
    column-gap: 14px;
}

.home-page a {
    color: #FFFFFF;
    font-size: 24px;
    line-height: 39px;
    text-decoration: none;
}

.home-page i {
    color: #fff;
    font-size: 16px;
}
.details-view-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details-view-wrapper h1 {
    color: #FFFFFF;
    font-size: 66px;
    line-height: 84px;
    max-width: 466px;
    font-weight: 600;
}

.booking-card {
    background-color: #FFFFFF;
    border-radius: 8px;
    max-width: 400px;
    padding: 25px 34px 43px 37px;
}

.booking-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.booking-card-header h2 {
    color: #030309;
    font-size: 22px;
    line-height: 26px;
    font-weight: 600;
}

.booking-card-header button {
    background-color: #000000;
    border-radius: 8px;
      border: none;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    padding:9px 10px;
}

.booking-card h6 {
    color: #7C7C7C;
    font-size: 16px;
    line-height: 27px;
    padding-top: 9px;
    padding-bottom: 22px;
}

.booking-card button.book-now {
    background-image: linear-gradient(133.71deg , #FF0093 0%, #FD5529 100%);
    border-radius: 8px;
    width: 100%;
    border: none;
    padding: 22px 0;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
        
}

.booking-card p {
    color: #7C7C7C;
    font-size: 16px;
    line-height: 27px;
    padding-top: 22px;
    padding-bottom: 16px;
}

.booking-card-footer {
    display: flex;
    align-items: center;
    column-gap: 8px;
    justify-content: flex-end;
}

.booking-card-footer a {
    color: #FF0093 !important;
    font-size: 16px;
    line-height: 27px;
    text-decoration: none;
}

.booking-card-footer i {
    color: #FF0093;
}
.site-logo1 {
    padding-top: 53px;
}
.venue-details-wrapper {
    display: flex;
    justify-content: space-around;
}
.venue-details-wrapper h1, .venue-details-wrap h1 {
    color: #FFFFFF;
    font-size: 34px;
    line-height: 41px;
    font-weight: 600;
    padding-bottom: 28px;
}

.venue-details-wrap h1 {
    padding-top: 32px;
    padding-bottom: 10px;
}

.venue-details-wrapper p, .venue-details-wrap p {
    color: #FFFFFF;
    font-size: 24px;
    line-height: 39px;
    max-width: 517px;
}

.map iframe {
    border-radius: 8px;
}

.venue-details-wrap {
    display: flex;
    max-width: 1055px;
    margin: 0 auto;
    column-gap: 146px;
}

.address-wrapper span {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 29px;
}

.address-wrapper a {
    text-decoration: none;
    color: #EF9D1E;
}
.venue-details-section {
    padding-bottom: 124px;
}

.social-group {
    padding-top: 70px;
}

@media(min-width: 1200px) {
	.container {
		max-width: 1230px;
	}
}
@media (max-width: 767px) {

.card-details-wrapper, .details-wrapper-1 {
    position: static;  
}

.gallary-wrapper {
    flex-direction: column;
}

.footer-gallary {
    flex-direction: column;
}

.card-wrapper-section {
    flex-direction: column;
}

.details-wrapper-1 img.card-2-img, .details-wrapper img.card-1-img {
    width: 100%;
}

.card-info {
    width: 100%;
    padding: 0;
}
.main-banner img.banner-2 {
    display: none;
}


.site-logo {
    padding-top: 40px;
    text-align: center;
}
.main-header-wrap h1 {
    font-size: 38px;
    line-height: 50px;
    max-width: 280px;
    padding-top: 40px;
    text-align: center;
    margin: 0 auto;
}


.main-header-wrap p {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
  
}

.site-logo img {
    width: 220px;
}

.main-wrapper img.wave-img {
   display: none;
}

}

@media (min-width: 768px) and (max-width: 991px) {
    .main-wrapper img.wave-img {
        left: 98px;
        top: 23px;
        width: 252px;
    }

    
    .site-logo img {
        width: 200px;
    }

    .site-logo {
        padding-top: 52px;
    }

    .main-banner img.banner-2 {
        top: -127px;
        width: 355px;
        right: -29px;
    }

    .main-header-wrap h1 {
        font-size: 42px;
        line-height: 52px;
        max-width: 290px;
        padding-top: 52px;
        padding-bottom: 12px;
    }
    .main-header-wrap p {
        font-size: 17px;
        line-height: 27px;
        max-width: 325px;
    }

    .footer-gallary {
        column-gap: 12px;
    }

    .footer-gallary img {
        width: 240px;
    }

    .footer-section .gallary-wrapper {
        flex-direction: column;
        row-gap: 25px;
        padding-bottom: 46px;
    }

    .footer-section {
        padding-top: 42px;
    }
    .gallary-wrapper .follow-btn {
        padding: 12px; 
    }

    .copyright p {
        font-size: 14px;
        line-height: 25px;
        padding: 18px 0;
    }


.card-details-wrapper h2 {
    font-size: 24px;
    line-height: 30px;
    padding-left: 170px;
}

.card-details-wrapper_1 h2 {
    font-size: 24px;
    line-height: 30px;
    padding-right: 170px;
}

    .card-info {
        max-width: 480px;
        padding: 20px 19px 33px 20px;
    }
        
    
    .main-header-wrap img {
        display: none;
    }

  
    .card_title h3 {
        font-size: 24px;
        line-height: 30px;
    }

    .card_header button {
        font-size: 14px;
        line-height: 17px;
        padding: 12px;
    }

    .card_body p {
        font-size: 18px;
        line-height: 26px;
        max-width: 278px;
        padding-bottom: 16px;
    }

    .card_body button {
        width: 290px;
        height: 50px;
        font-size: 16px;
        line-height: 24px;
    }


    .card-wrapper-section {
        padding-bottom: 175px;
    }

    .details-wrapper img.card-1-img, .details-wrapper-1 img.card-2-img {
        width: 365px;
    }

    .main-section-wrapper {
    padding-top: 126px;
    }

 


    
}

@media (min-width: 992px) and (max-width: 1024px) {
    .footer-section .gallary-wrapper{
        flex-direction: column;
        row-gap: 36px;
        padding-bottom: 42px;
    }

.main-banner img.banner-2 {
    top: -148px;
    width: 450px;
}

.site-logo {
    padding-top: 53px;
}

.card-wrapper-section {
    padding-bottom: 225px;
}

.footer-gallary {
    column-gap: 20px;
}


.footer-gallary img {
    width: 280px;
}

.main-header-wrap h1 {
    font-size: 52px;
    line-height: 65px;
    max-width: 382px;
    padding-top: 60px;
}

.main-header-wrap img {
    display: none;
}

.main-header-wrap p {
    max-width: 430px;
}



.card-info {
    background-color: #fff;
    max-width: 600px;
    padding: 26px 38px 39px 38px;
}



.card_title h3 {
    font-size: 26px;
    line-height: 32px;
    padding-bottom: 4px;
}


.card_body button {
    background-image: linear-gradient( 
133.71deg
 , #FF0093 0%, #FD5529 100%);
    width: 278px;
    height: 56px;
    font-size: 18px;
    line-height: 24px;
}

.details-wrapper-1 img.card-2-img, .details-wrapper img.card-1-img {
    width: 420px;
}

.main-wrapper img.wave-img {
    left: 122px;
    top: 17px;
    width: 330px;
}

}

@media (min-width: 1025px) and (max-width: 1199px) {

.main-wrapper img.wave-img {
    left: 142px;
    top: 17px;
    width: 330px;
}



.card-details-wrapper h2 {
    padding-left: 200px;
}


.card-details-wrapper_1 h2 {
    padding-right: 200px;
}

    .footer-section .gallary-wrapper{
        flex-direction: column;
        row-gap: 36px;
        padding-bottom: 42px;
    }

.main-banner img.banner-2 {
    top: -148px;
    width: 450px;
}

.site-logo {
    padding-top: 53px;
}

.card-wrapper-section {
    padding-bottom: 292px;
}

.footer-gallary {
    column-gap: 20px;
}


.card-details-wrapper {
    right: -56px;
}

.footer-gallary img {
    width: 280px;
}

.main-header-wrap h1 {
    font-size: 52px;
    line-height: 65px;
    max-width: 382px;
    padding-top: 60px;
}

.main-header-wrap img {
    display: none;
}

.main-header-wrap p {
    max-width: 430px;
}

.card-info {
    max-width: 630px;
    padding: 26px 38px 39px 38px;
}


.details-wrapper-1 {
    right: -63px;
}

.card_title h3 {
    font-size: 26px;
    line-height: 32px;
    padding-bottom: 4px;
}


.card_body button {
    width: 278px;
    height: 56px;
    font-size: 18px;
    line-height: 24px;
}
}



